# Public Company Financial Data

Author: Phuoc Le<br>
Google Colab Version: Version 2<br>
Last Edited: September 25, 2020<br>
Data Source: Yahoo Finance

## Libraries Import

Import Python libraries needed for the notebook.  First we need to install some additional libraries.

In [ ]:
#@title
!pip install yahoo_fin

Collecting yahoo_fin
  Downloading https://files.pythonhosted.org/packages/d3/5c/6bf0c0147cc94d643e2a2413d0a9b27967e964ee99f88f26db93a0b963b8/yahoo_fin-0.8.6-py3-none-any.whl
Installing collected packages: yahoo-fin
Successfully installed yahoo-fin-0.8.6

In [ ]:
#@title
!pip install requests_html

In [40]:
import yahoo_fin.stock_info as si
import pandas as pd
import plotly.express as px
from tqdm import tqdm

## Define List of Companies to Research

Enter list of stocks as a Python list

In [62]:
companies = ["AAPL", "MSFT", "WMT", "TGT", "MCD", "KO", "KMB", "RY"]

## Retrieve Financial Information for our Companies

1. The first thing to do is to retrieve the data.  Depending on how long the company list is, it may take a while.  We can't run Step 2 to clean up the data until this is complete, so be patient!  Wait for the indicator to get to 100% before proceeding.

In [63]:
#@title
# Get data in the current column for each stock's valuation table
# df1 contains basic company data
# df2 contains extra data

ticker_stats = {}
for ticker in companies:
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
    temp.columns = ["Attribute", "Recent"]
 
    ticker_stats[ticker] = temp


# combine all the stats valuation tables into a single data frame
df1 = pd.concat(ticker_stats)
df1 = df1.reset_index()

del df1["level_1"]

# update column names
df1.columns = ["Ticker", "Attribute", "Recent"]

# Get extra stats
ticker_extra_stats = {}
for ticker in tqdm(companies):
    ticker_extra_stats[ticker] = si.get_stats(ticker)
    

df2 = pd.concat(ticker_extra_stats)

df2 = df2.reset_index()

del df2["level_1"]

df2.columns = ["Ticker", "Attribute", "Value"]

100%|██████████| 8/8 [00:03<00:00,  2.19it/s]

2. Now we do the data clean up, type conversions, and merging of the data into a final dataframe called **company_data** which we can now use.

In [64]:
#@title
# Convert from long dataframe to wide dataframe using the pivot() method.
df1_wide = df1.pivot(index = "Ticker", columns="Attribute", values="Recent")
df2_wide = df2.pivot(index = "Ticker", columns="Attribute", values="Value")

# Clean up column names to remove footnote indicators
df1_wide.rename(columns = {"Enterprise Value 3":"Enterprise Value"}, inplace = True)
df1_wide.rename(columns = {"Enterprise Value/EBITDA 6":"Enterprise Value/EBITDA"}, inplace = True)
df1_wide.rename(columns = {"Enterprise Value/Revenue 3":"Enterprise Value/Revenue"}, inplace = True)
df1_wide.rename(columns = {"Forward P/E 1":"Forward P/E"}, inplace = True)
df1_wide.rename(columns = {"Market Cap (intraday) 5":"Market Cap (intraday)"}, inplace = True)
df1_wide.rename(columns = {"PEG Ratio (5 yr expected) 1":"PEG Ratio (5 yr expected)"}, inplace = True)

df2_wide.rename(columns = {"% Held by Insiders 1":"% Held by Insiders"}, inplace = True)
df2_wide.rename(columns = {"% Held by Institutions 1":"% Held by Institutions"}, inplace = True)
df2_wide.rename(columns = {"200-Day Moving Average 3":"200-Day Moving Average"}, inplace = True)
df2_wide.rename(columns = {"5 Year Average Dividend Yield 4":"5 Year Average Dividend Yield %"}, inplace = True)
df2_wide.rename(columns = {"50-Day Moving Average 3":"50-Day Moving Average"}, inplace = True)
df2_wide.rename(columns = {"52 Week High 3":"52 Week High"}, inplace = True)
df2_wide.rename(columns = {"52 Week Low 3":"52 Week Low"}, inplace = True)
df2_wide.rename(columns = {"52-Week Change 3":"52-Week Change %"}, inplace = True)
df2_wide.rename(columns = {"Avg Vol (10 day) 3":"Avg Vol (10 day)"}, inplace = True)
df2_wide.rename(columns = {"Avg Vol (3 month) 3":"Avg Vol (3 month)"}, inplace = True)
df2_wide.rename(columns = {"Dividend Date 3":"Dividend Date"}, inplace = True)
df2_wide.rename(columns = {"Ex-Dividend Date 4":"Ex-Dividend Date"}, inplace = True)
df2_wide.rename(columns = {"Forward Annual Dividend Rate 4":"Forward Annual Dividend Rate"}, inplace = True)
df2_wide.rename(columns = {"Forward Annual Dividend Yield 4":"Forward Annual Dividend Yield %"}, inplace = True)
df2_wide.rename(columns = {"Last Split Date 3":"Last Split Date"}, inplace = True)
df2_wide.rename(columns = {"Last Split Factor 2":"Last Split Factor"}, inplace = True)
df2_wide.rename(columns = {"Operating Margin (ttm)":"Operating Margin (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"Payout Ratio 4":"Payout Ratio %"}, inplace = True)
df2_wide.rename(columns = {"Profit Margin":"Profit Margin %"}, inplace = True)
df2_wide.rename(columns = {"Quarterly Earnings Growth (yoy)":"Quarterly Earnings Growth (yoy) %"}, inplace = True)
df2_wide.rename(columns = {"Quarterly Revenue Growth (yoy)":"Quarterly Revenue Growth (yoy) %"}, inplace = True)
df2_wide.rename(columns = {"Return on Assets (ttm)":"Return on Assets (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"Return on Equity (ttm)":"Return on Equity (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"S&P500 52-Week Change 3":"S&P500 52-Week Change %"}, inplace = True)
df2_wide.rename(columns = {"Shares Outstanding 5":"Shares Outstanding"}, inplace = True)
df2_wide.rename(columns = {"Trailing Annual Dividend Rate 3":"Trailing Annual Dividend Rate"}, inplace = True)
df2_wide.rename(columns = {"Trailing Annual Dividend Yield 3":"Trailing Annual Dividend Yield %"}, inplace = True)

# Convert string values to float as necessary
df1_wide['Trailing P/E'] = df1_wide['Trailing P/E'].astype(float)
df1_wide['Enterprise Value/EBITDA'] = df1_wide['Enterprise Value/EBITDA'].astype(float)
df1_wide['Enterprise Value/Revenue'] = df1_wide['Enterprise Value/Revenue'].astype(float)
df1_wide['Forward P/E'] = df1_wide['Forward P/E'].astype(float)
df1_wide['PEG Ratio (5 yr expected)'] = df1_wide['PEG Ratio (5 yr expected)'].astype(float)
df1_wide['Price/Book (mrq)'] = df1_wide['Price/Book (mrq)'].astype(float)
df1_wide['Price/Sales (ttm)'] = df1_wide['Price/Sales (ttm)'].astype(float)

df2_wide['% Held by Insiders'] = df2_wide['% Held by Insiders'].str.strip('%').astype('float') / 100.0
df2_wide['% Held by Institutions'] = df2_wide['% Held by Institutions'].str.strip('%').astype('float') / 100.0
df2_wide['5 Year Average Dividend Yield %'] = df2_wide['5 Year Average Dividend Yield %'].astype(float) / 100.0
df2_wide['50-Day Moving Average'] = df2_wide['50-Day Moving Average'].astype(float)
df2_wide['52 Week High'] = df2_wide['52 Week High'].astype(float)
df2_wide['52 Week Low'] = df2_wide['52 Week Low'].astype(float)
df2_wide['52-Week Change %'] = df2_wide['52-Week Change %'].str.strip('%').astype('float') / 100.0
df2_wide['Beta (5Y Monthly)'] = df2_wide['Beta (5Y Monthly)'].astype(float)
df2_wide['Book Value Per Share (mrq)'] = df2_wide['Book Value Per Share (mrq)'].astype(float)
df2_wide['Current Ratio (mrq)'] = df2_wide['Current Ratio (mrq)'].astype(float)
df2_wide['Diluted EPS (ttm)'] = df2_wide['Diluted EPS (ttm)'].astype(float)
df2_wide['Forward Annual Dividend Rate'] = df2_wide['Forward Annual Dividend Rate'].astype(float)
df2_wide['Forward Annual Dividend Yield %'] = df2_wide['Forward Annual Dividend Yield %'].str.strip('%').astype('float') / 100.0
df2_wide['Operating Margin (ttm) %'] = df2_wide['Operating Margin (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Payout Ratio %'] = df2_wide['Payout Ratio %'].str.strip('%').astype('float') / 100.0
df2_wide['Profit Margin %'] = df2_wide['Profit Margin %'].str.strip('%').astype('float') / 100.0
df2_wide['Quarterly Earnings Growth (yoy) %'] = df2_wide['Quarterly Earnings Growth (yoy) %'].str.strip('%').astype('float') / 100.0
df2_wide['Quarterly Revenue Growth (yoy) %'] = df2_wide['Quarterly Revenue Growth (yoy) %'].str.strip('%').astype('float') / 100.0
df2_wide['Return on Assets (ttm) %'] = df2_wide['Return on Assets (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Return on Equity (ttm) %'] = df2_wide['Return on Equity (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Revenue Per Share (ttm)'] = df2_wide['Revenue Per Share (ttm)'].astype(float)
df2_wide['S&P500 52-Week Change %'] = df2_wide['S&P500 52-Week Change %'].str.strip('%').astype('float') / 100.0
df2_wide['Total Cash Per Share (mrq)'] = df2_wide['Total Cash Per Share (mrq)'].astype(float)
df2_wide['Total Debt/Equity (mrq)'] = df2_wide['Total Debt/Equity (mrq)'].astype(float)
df2_wide['Trailing Annual Dividend Rate'] = df2_wide['Trailing Annual Dividend Rate'].astype(float)
df2_wide['Trailing Annual Dividend Yield %'] = df2_wide['Trailing Annual Dividend Yield %'].str.strip('%').astype('float') / 100.0
df2_wide['200-Day Moving Average'] = df2_wide['200-Day Moving Average'].astype(float)

# Merge the dataframes into company_data
company_data = pd.concat([df1_wide, df2_wide], axis=1, join='inner')

Here we display the dataframe's content so we know what we're working with:

In [72]:
#@title
company_data.head(10)

Attribute Enterprise Value  ...  Trailing Annual Dividend Yield %
Ticker                      ...
AAPL                 1.87T  ...                            0.0072
KMB                 56.58B  ...                            0.0287
KO                 241.70B  ...                            0.0333
MCD                209.48B  ...                            0.0227
MSFT                 1.45T  ...                            0.0100
RY                     NaN  ...                            0.0401
TGT                 85.35B  ...                            0.0174
WMT                439.96B  ...                            0.0157

[8 rows x 64 columns]

## Plot basic valuation data to find value investments

In [74]:
#@title
# Plot out the data
chart1 = px.scatter(company_data,
                   x='Quarterly Revenue Growth (yoy) %',
                   y='Price/Sales (ttm)',
                   size = "Trailing P/E",
                   hover_name = company_data.index,
                   title="Quarterly Revenue Growth (yoy) % vs. Price/Sales (ttm) vs. Trailing P/E",
                   width=1250,
                   height=700)

# Update chart layouts
chart1.update_layout(
    margin=dict(l=20, r=20, t=40, b=20),
    paper_bgcolor="#ffffff",
)

chart1.show()

## Plot dividend data to research dividend stocks

In [66]:
#@title
# Plot out the data
chart1 = px.scatter(company_data,
                   x='Payout Ratio %',
                   y='Trailing Annual Dividend Yield %',
                   size = "5 Year Average Dividend Yield %",
                   hover_name = company_data.index,
                   title="Payout Ratio %' vs. Trailing Annual Dividend Yield % vs. 5 Year Average Dividend Yield %",
                   width=900,
                   height=500)

# Update chart layouts
chart1.update_layout(
    margin=dict(l=20, r=20, t=40, b=20),
    paper_bgcolor="#eeeeee",
)

chart1.show()

# Retrieve Financial Statements for our Companies

We'll start by pulling the Balance Sheet and then move on to the Income Statement & Cash Flow Statement.

## Balance Sheet

We'll start by getting the Balance Sheet for one company.  That's done like this:

In [67]:
balance_sheet = si.get_balance_sheet("aapl")

display(balance_sheet)

endDate                    2019-09-28    2018-09-29    2017-09-30    2016-09-24
Breakdown
totalLiab                2.480280e+11  2.585780e+11  2.412720e+11  1.934370e+11
totalStockholderEquity   9.048800e+10  1.071470e+11  1.340470e+11  1.282490e+11
otherCurrentLiab         4.324200e+10  3.929300e+10  3.809900e+10  8.243000e+09
totalAssets              3.385160e+11  3.657250e+11  3.753190e+11  3.216860e+11
commonStock              4.517400e+10  4.020100e+10  3.586700e+10  3.125100e+10
otherCurrentAssets       1.235200e+10  1.208700e+10  1.393600e+10  8.283000e+09
retainedEarnings         4.589800e+10  7.040000e+10  9.833000e+10  9.636400e+10
otherLiab                5.050300e+10  4.891400e+10  4.325100e+10  3.900400e+10
treasuryStock           -5.840000e+08 -3.454000e+09 -1.500000e+08  6.340000e+08
otherAssets              3.297800e+10  2.228300e+10  1.817700e+10  8.757000e+09
cash                     4.884400e+10  2.591300e+10  2.028900e+10  2.048400e+10
totalCurrentLiabilities  1.057180e+11  1.159290e+11  1.008140e+11  7.900600e+10
shortLongTermDebt        1.026000e+10  8.784000e+09  6.496000e+09  3.500000e+09
otherStockholderEquity  -5.840000e+08 -3.454000e+09 -1.500000e+08  6.340000e+08
propertyPlantEquipment   3.737800e+10  4.130400e+10  3.378300e+10  2.701000e+10
totalCurrentAssets       1.628190e+11  1.313390e+11  1.286450e+11  1.068690e+11
longTermInvestments      1.053410e+11  1.707990e+11  1.947140e+11  1.704300e+11
netTangibleAssets        9.048800e+10  1.071470e+11  1.340470e+11  1.196290e+11
shortTermInvestments     5.171300e+10  4.038800e+10  5.389200e+10  4.667100e+10
netReceivables           4.580400e+10  4.899500e+10  3.567300e+10  2.929900e+10
longTermDebt             9.180700e+10  9.373500e+10  9.720700e+10  7.542700e+10
inventory                4.106000e+09  3.956000e+09  4.855000e+09  2.132000e+09
accountsPayable          4.623600e+10  5.588800e+10  4.424200e+10  3.729400e+10
intangibleAssets                  NaN           NaN           NaN  3.206000e+09
goodWill                          NaN           NaN           NaN  5.414000e+09

But what's more interesting is to get the Balance Sheets for **<u>all</u>** the companies in our list.  That way we can combine them and do interesting things with them.  That's done with the following code:

In [68]:
balance_sheets = {}
for ticker in companies:
    balance_sheets[ticker] = si.get_balance_sheet(ticker)

Now that all the balance sheets are combined, we can look at values from the balance sheets across multiple companies at once.  Since each individual balance sheet may have different column headers (from different dates), we’ll just get the most recent column of data from the balance sheet for each stock.  This code combines the most recent columns from the balance sheets of all companies into one dataframe.

In [69]:
recent_sheets = {ticker : sheet.iloc[:,:1] for ticker,sheet in balance_sheets.items()}

for ticker in recent_sheets.keys():
    recent_sheets[ticker].columns = ["Recent"]

# combine all balance sheets together
combined_sheets = pd.concat(recent_sheets)

# reset index to pull in ticker
combined_sheets = combined_sheets.reset_index()

# update column names
combined_sheets.columns = ["Ticker", "Breakdown", "Recent"]

combined_sheets

    Ticker               Breakdown        Recent
0     AAPL               totalLiab  2.480280e+11
1     AAPL  totalStockholderEquity  9.048800e+10
2     AAPL        otherCurrentLiab  4.324200e+10
3     AAPL             totalAssets  3.385160e+11
4     AAPL             commonStock  4.517400e+10
..     ...                     ...           ...
203     RY       netTangibleAssets  6.190600e+10
204     RY    shortTermInvestments  3.449770e+11
205     RY          netReceivables  1.263300e+10
206     RY            longTermDebt  1.063630e+11
207     RY         accountsPayable  8.876030e+11

[208 rows x 3 columns]

From here, we can pull any data from the balance sheets of all the companies. For example, we can look at the Total Assets for each stock like this:

In [75]:
combined_sheets[combined_sheets.Breakdown == "longTermDebt"]

    Ticker     Breakdown        Recent
20    AAPL  longTermDebt  9.180700e+10
48    MSFT  longTermDebt  5.957800e+10
74     WMT  longTermDebt  4.441000e+10
100    TGT  longTermDebt  1.003500e+10
126    MCD  longTermDebt  3.411810e+10
154     KO  longTermDebt  2.753700e+10
179    KMB  longTermDebt  6.242000e+09
206     RY  longTermDebt  1.063630e+11

## Income Statements

Income statements can be downloaded from Yahoo Finance using the get_income_statement method:

In [76]:
income = si.get_income_statement("aapl")

display(income)

endDate                              2019-09-28  ...    2016-09-24
Breakdown                                        ...
researchDevelopment                 16217000000  ...   10045000000
effectOfAccountingCharges                  None  ...          None
incomeBeforeTax                     65737000000  ...   61372000000
minorityInterest                           None  ...          None
netIncome                           55256000000  ...   45687000000
sellingGeneralAdministrative        18245000000  ...   14194000000
grossProfit                         98392000000  ...   84263000000
ebit                                63930000000  ...   60024000000
operatingIncome                     63930000000  ...   60024000000
otherOperatingExpenses                     None  ...          None
interestExpense                     -3576000000  ...   -1456000000
extraordinaryItems                         None  ...          None
nonRecurring                               None  ...          None
otherItems                                 None  ...          None
incomeTaxExpense                    10481000000  ...   15685000000
totalRevenue                       260174000000  ...  215639000000
totalOperatingExpenses             196244000000  ...  155615000000
costOfRevenue                      161782000000  ...  131376000000
totalOtherIncomeExpenseNet           1807000000  ...    1348000000
discontinuedOperations                     None  ...          None
netIncomeFromContinuingOps          55256000000  ...   45687000000
netIncomeApplicableToCommonShares   55256000000  ...   45687000000

[22 rows x 4 columns]

Using the income statement, we can examine specific values, such as total revenue, gross profit, total expenses, etc.

To get the **total revenue**, we just need to apply a filter like previously.  Other items like **grossProfit**, **operatingIncome**, etc. works the same.

In [77]:
income.loc["totalRevenue"]

endDate
2019-09-28    260174000000
2018-09-29    265595000000
2017-09-30    229234000000
2016-09-24    215639000000
Name: totalRevenue, dtype: object

## Getting the income statement from each company in our list

Next, let’s retrieve the income statement for each company in our **companies** list.

In [78]:
income_statements = {}
for ticker in companies:
    income_statements[ticker] = si.get_income_statement(ticker)

Now, we can look at metrics in the income statement across multiple companies at once. First, we just need to combine the income statements together, similar to how we combined the balance sheets above.

In [79]:
recent_income_statements = {ticker : sheet.iloc[:,:1] for ticker,sheet in income_statements.items()}

for ticker in recent_income_statements.keys():
    recent_income_statements[ticker].columns = ["Recent"]

combined_income = pd.concat(recent_income_statements)

combined_income = combined_income.reset_index()

combined_income.columns = ["Ticker", "Breakdown", "Recent"]

Now that we have a combined view of the income statements across companies, we can examine specific values in the income statements, such as Total Revenue, for example.

In [80]:
combined_income[combined_income.Breakdown == "totalRevenue"]

    Ticker     Breakdown        Recent
15    AAPL  totalRevenue  260174000000
37    MSFT  totalRevenue  143015000000
59     WMT  totalRevenue  523964000000
81     TGT  totalRevenue   78112000000
103    MCD  totalRevenue   21076500000
125     KO  totalRevenue   37266000000
147    KMB  totalRevenue   18450000000
169     RY  totalRevenue   44138000000

In [81]:
combined_income

    Ticker                          Breakdown       Recent
0     AAPL                researchDevelopment  16217000000
1     AAPL          effectOfAccountingCharges         None
2     AAPL                    incomeBeforeTax  65737000000
3     AAPL                   minorityInterest         None
4     AAPL                          netIncome  55256000000
..     ...                                ...          ...
171     RY                      costOfRevenue            0
172     RY         totalOtherIncomeExpenseNet  -1197000000
173     RY             discontinuedOperations         None
174     RY         netIncomeFromContinuingOps  12871000000
175     RY  netIncomeApplicableToCommonShares  12591000000

[176 rows x 3 columns]

## Cash Flow Statement

In this section, we’ll extract cash flow statements. We can do that using the get_cash_flow method.

In [82]:
flow = si.get_cash_flow("aapl")

Here’s the first few rows of the cash flow statement:

In [83]:
flow.head(20)

endDate                                 2019-09-28  ...   2016-09-24
Breakdown                                           ...
investments                            58093000000  ... -32022000000
changeToLiabilities                    -2548000000  ...    563000000
totalCashflowsFromInvestingActivities  45896000000  ... -45977000000
netBorrowings                          -7819000000  ...  22057000000
totalCashFromFinancingActivities      -90976000000  ... -20890000000
changeToOperatingActivities             -896000000  ...   -902000000
issuanceOfStock                          781000000  ...    495000000
netIncome                              55256000000  ...  45687000000
changeInCash                           24311000000  ...   -636000000
repurchaseOfStock                     -69714000000  ... -31292000000
totalCashFromOperatingActivities       69391000000  ...  66231000000
depreciation                           12547000000  ...  10505000000
otherCashflowsFromInvestingActivities  -1078000000  ...   -924000000
dividendsPaid                         -14119000000  ... -12150000000
changeToInventory                       -289000000  ...    217000000
changeToAccountReceivables               245000000  ...    527000000
otherCashflowsFromFinancingActivities   -105000000  ...   -105000000
changeToNetincome                       5076000000  ...   9634000000
capitalExpenditures                   -10495000000  ... -12734000000

[19 rows x 4 columns]

Now let’s get the cash flow statements of each company on our **companies** list.

In [ ]:
cash_flows = {}
for ticker in companies:
    cash_flows[ticker] = si.get_cash_flow(ticker)

Again, we combine the datasets above, using similar code as before.

In [ ]:
recent_cash_flows = {ticker : flow.iloc[:,:1] for ticker,flow in cash_flows.items()}


for ticker in recent_cash_flows.keys():
    recent_cash_flows[ticker].columns = ["Recent"]


combined_cash_flows = pd.concat(recent_cash_flows)

combined_cash_flows = combined_cash_flows.reset_index()

combined_cash_flows.columns = ["Ticker", "Breakdown", "Recent"]

Now, we can examine information in the cash flow statements across all the stocks in our list.

## Getting dividends paid across companies

One example to look at in a cash flow statement is the amount of dividends paid, which we can see across the companies in our list by using the filter below.

In [ ]:
combined_cash_flows[combined_cash_flows.Breakdown == "dividendsPaid"]

## Getting stock issuance information

Here’s another example – this time, we’ll look at debt-related numbers across the cash flow statements.

In [ ]:
combined_cash_flows[combined_cash_flows.Breakdown == "issuanceOfStock"]

## Reference

Reference Information

In [ ]:
# Print dataframe's columns to a list

print(company_extra_stats_wide.columns.tolist())

In [ ]:
# Pull out just Trailing P/E to another dataframe
trailing_pe = company_stats[company_stats["Attribute"].str.contains("Trailing")]

trailing_pe

In [ ]:
# S&P 500 List
sp500_list = si.tickers_sp500()

print(sp500_list)

In [ ]:
# Dow List
dow_list = si.tickers_dow()

print(dow_list)

In [ ]:
# NASDAQ List
nasdaq_list = si.tickers_nasdaq()

print(nasdaq_list)